BasedOnStyle: LLVM
AllowAllArgumentsOnNextLine: false
AllowShortFunctionsOnASingleLine: None
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Allman
BreakConstructorInitializers: BeforeComma
ColumnLimit: 120
IndentWidth: 4
IncludeBlocks: Regroup
IncludeCategories:
    - Regex: '<.*>'
      Priority: 1
    - Regex: '.*'
      Priority: 2
SortIncludes: true
TabWidth: 4
AlwaysBreakTemplateDeclarations: Yes
